<template name="android">


    <!-- Dynamic Popup // -->
    <div class="popup" id="dynamicPopup">
        {{> Template.dynamic template=dynamicPopup.template data=dynamicPopup.data}}
    </div>


    <!-- Menu // -->
{{>menue}}


    <div class="views">

        {{#transitioner}}
            {{>yield}}
        {{/transitioner}}

    </div>

</template>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.colors.min.css">
</head>