<template name="popup">

<div class="view view-popup">
    <div class="page navbar-fixed">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="center">Just a dynamic popup</div>
            </div>
        </div>

        <div class="page-content">
            <div class="content-block">
                <!-- Check out start.js / android.js and android.html // -->
                Hi, this is a dynamic popup. This is my current value / context: <b>{{test}}</b>
            </div>
        </div>
    </div>
</div>
</template>