<template name="start">
    <div class="view start-view">

        <div class="page navbar-fixed">

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link open-panel">
                            <i class="icon icon-bars"></i>
                        </a>
                    </div>
                    <div class="center">Welcome</div>
                </div>
            </div>


            <div class="page-content">
                <div class="content-block">
                    <p>This is a little F7 demo with Meteor. Just check out an example of the awesome integrated widgets..</p>
                </div>

                <div class="content-block-title">This is a Smart Select element</div>

                <div class="list-block">
                    <ul>
                        <!-- Smart select item -->
                        <li>
                            <!-- Additional "smart-select" class -->
                            <a href="#" class="item-link smart-select" data-open-in="popup" data-back-on-select="true">
                                <!-- select -->
                                <select name="fruits">
                                    <option value="apple" selected>Cologne</option>
                                    <option value="pineapple">Dortmund</option>
                                    <option value="pineapple">New York</option>
                                    <option value="pineapple">London</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <!-- Select label -->
                                        <div class="item-title">Where are you from?</div>
                                        <!-- Selected value, not required -->
                                        <div class="item-after">Cologne</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
       </div>
</template>